:root {
    --primary-color: #FF6600;
    --secondary-color: white;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #000000 !important;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(180deg,
            #43185b 0%,
            #353535 50%,
            #47221B 100%);
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

a {
    color: white !important;
}

p {
    margin: 0 !important;
}

a:hover {
    color: var(--primary-color) !important;
    transition: all 0.3s ease-in-out;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
    user-select: none;
    background-image: url('assets/hero-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.text-orange {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: rgba(255, 255, 255, 0.7) !important;
}

/* Section */
section {
    padding: 5rem 0;
    min-height: 100vh;
    perspective: 1000px;
    display: flex;
    align-items: center;
    /* background: linear-gradient(135deg,
            #43185b 0%,
            #000000 50%,
            #47221B 100%); */
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); */
    transition: background-position 1s ease;
}


.section-tag {
    display: inline-block;
    color: #f97316;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    background: rgba(249, 115, 22, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 1px solid rgba(249, 115, 22, 0.3);
    margin-bottom: 0.5rem;
}

.section-title {
    font-size: clamp(2rem, 3vw, 3.5rem);
    font-weight: 800;
    margin-bottom: 40px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    background: linear-gradient(45deg, #fff, #ff6347, #f0e68c, #8a2be2);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 6s linear infinite;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 3rem auto;
    position: relative;
}

.section-subtitle {
    color: #94a3b8;
    font-size: clamp(1rem, 2.5vw, 1.5rem) !important;
    line-height: 1.4;
    text-align: center;
}

.card-title {
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    transform: translateZ(15px);
    margin-bottom: 1rem !important;
}

/* Navbar Starts */
.blur-container {
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 100%;
}


/* Navbar base styling */
.navbar {
    padding: 1rem 2rem;
    width: 100%;
    transition: all 0.3s ease;
}

/* Modern hamburger menu */
.navbar-toggler {
    border: none;
    padding: 0.5rem;
    transition: transform 0.3s ease;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:hover {
    transform: scale(1.1);
}

.nav-link {
    position: relative;
    padding: 0.5rem 0.5rem;
    margin: 0 0.3rem;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0.5px;
    transition: all 0.2s ease;
    font-weight: 600 !important;
    font-size: 0.8rem !important;
    border-radius: 30px;
    border: 1px solid transparent !important
}

.nav-link:hover {
    color: #ffffff !important;
}

.nav-link.active {
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    animation: gradientAnimation 5s linear infinite;
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.navbar-scroll {
    width: 90%;
}

/* Navbar Starts */

/* Buttons Start */
.btn {
    border: 1px solid transparent !important;
    border-radius: 100px !important;
    padding: 0.5rem 2rem !important;
    font-weight: 600 !important;
    color: white;
    border: none;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

}

.btn::before,
.name::before,
.work-card:hover a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transition: left 0.5s ease;
}

.btn:hover::before,
.owl-carousel .owl-item.active.center:hover .name::before,
.owl-carousel .owl-item.active.center:hover a::before {
    left: 100%;
    transition: left 0.3s ease-in-out;
}

.btn-nav {
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.btn-nav:hover {
    color: #ffffff !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;

}

.btn-nav.mobile {
    backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.btn-nav.mobile:hover {
    color: #ffffff !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
}


.btn-primary {
    background-color: var(--primary-color) !important;
    color: white;
}

.btn-primary:hover {
    border: 1px solid white !important;
    color: white !important;
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.15) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
}

.contact-section .btn-secondary {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.btn-secondary:hover {
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}


/* Buttons End */

/* Logo Starts */
.logo {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

/* Logo Ends */

/* Hero Starts */
.hero {
    position: relative;
    /* background-image: url('assets/hero-bg.jpg'); */
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
}

.hero-quote {
    text-align: center;
    color: #fff;
    z-index: 2;
    margin-bottom: 40px;
}

.stars {
    color: #f5a623;
    font-size: 20px;
    margin-bottom: 8px;
}

.avatars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatars img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.avatars img:hover {
    transform: translateY(-5px);
}

.avatars img:first-child {
    margin-left: 0;
}

.hero-quote .text {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.hero>*,
section,
.bg-video-container {
    position: relative;
    z-index: 2;
}

.hero-img {
    animation: fadeInRight 1s forwards;
    padding: 0;
    position: relative;
    width: 100%;
    max-width: 600px;
    left: 20%;
    transform: translateX(-50%);
}

.hero-img img {
    box-shadow: -4px 4px 20px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    opacity: 0.8;
}

.about-vid {
    animation: fadeInRight 1s forwards;
    padding: 0;
    position: absolute;
    transform: translate(-30%, -3%) !important;
}

.about-vid video {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.rocket-container {
    bottom: 5%;
    width: 40px;
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
}

.hover-text {
    position: absolute;
    transform: translate(30%, -150%);
    bottom: 5%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    display: none;
    white-space: nowrap;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Hero Ends */

/* Process Section Starts */
.process-section {
    color: white;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.step-container {
    position: relative;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/* .step-container:hover {
    transform: translateY(-5px);
} */

.step-line {
    position: absolute;
    top: 30px;
    left: 50%;
    right: -50%;
    height: 4px;
    background: linear-gradient(90deg,
            rgba(235, 191, 159, 1) 0%,
            rgba(67, 188, 209, 1) 100%);
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(67, 188, 209, 0.4),
        0 0 5px rgba(235, 191, 159, 0.4);
}

.step-point-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    z-index: 2;
}

.step-point {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ff6b00 0%, #ff8533 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 0 10px 20px rgba(255, 107, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
}

.step-point::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(255, 107, 0, 0.5), transparent);
    z-index: -1;
    transition: all 0.3s ease;
}

.step-content {
    padding: 30px 25px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s forwards;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin-top: 40px;
    transition: all 0.3s ease;
    flex: 1;
    overflow: hidden;
}

.step-content:hover {
    background: rgba(255, 255, 255, 0.05);
    transform: translateY(-5px);
}

.step-number {
    font-size: 14px;
    color: var(--primary-color);
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.03);
    width: fit-content;
    padding: 2px 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.step-title {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin: 15px 0 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.95);
    letter-spacing: -0.5px;
}

.step-description {
    color: rgba(255, 255, 255, 0.7);
    font-size: clamp(0.9rem, 2vw, 1rem);
    line-height: 1.8;
    margin-bottom: 0;
    font-weight: 300;
}

.step-container:hover .step-point {
    transform: scale(1.1);
    box-shadow: 0 15px 30px rgba(255, 107, 0, 0.3);
}

.step-container:hover .step-point::before {
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    opacity: 0.8;
}



.step-content:hover .shine-effect {
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.1),
            transparent);
    animation: shine 3s infinite;
}

@keyframes shine {
    to {
        left: 200%;
    }
}

/* Process Section Ends */


/* About Us Starts */
.about-section {
    position: relative;
    overflow: hidden;
}

.about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.about-heading {
    position: relative;
    opacity: 0;
    animation: fadeInUp 1s forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Keyframes for gradient animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.about-description {
    font-size: 1.1rem;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.6) !important;
    position: relative;
    opacity: 0;
    animation: fadeInUp 1s 0.3s forwards;
    text-align: justify;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    opacity: 0;
    animation: fadeInUp 1s 0.6s forwards;
}

.feature-card {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 24px;
    padding: 30px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
}

.feature-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 107, 0, 0.1) 0%, transparent 100%);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 107, 0, 0.2);
}

.feature-card:hover::before {
    opacity: 1;
}

.feature-icon {
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, rgba(255, 107, 0, 0.2) 0%, rgba(255, 107, 0, 0.1) 100%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.feature-text {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.7;
    position: relative;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* About Us Ends */

/* Services Starts */
.decoration {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 20px rgba(249, 115, 22, 0.2));
}

.decoration-1 {
    top: 10%;
    left: 5%;
    transform: rotateX(45deg) rotateZ(45deg);
    transform-style: preserve-3d;
}

.decoration-2 {
    bottom: 15%;
    right: 5%;
    transform: rotateX(35deg) rotateZ(-35deg);
    transform-style: preserve-3d;
}

.decoration-3 {
    width: 130px;
    top: 50%;
    right: 26%;
    opacity: 0.6;
}

.decoration-4 {
    bottom: 5%;
    width: 40px;
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    filter: drop-shadow(0 0 20px rgba(249, 115, 22, 0.2));
}

.services-content {
    position: relative;
    z-index: 10;
    max-width: 1200px;
    margin: 0 auto;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
    padding: 0 1rem;
}

.service-card {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 1.5rem;
    padding: 2.5rem;
    position: relative;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    will-change: transform;
    cursor: pointer;
}

.service-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg,
            rgba(249, 115, 22, 0.1),
            rgba(255, 255, 255, 0.03));
    border-radius: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.service-card:hover::before {
    opacity: 1;
}

.service-icon-wrapper {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(45deg, #f97316, #fb923c);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    transform: translateZ(20px);
}

.service-icon {
    width: 2.5rem;
    height: 2.5rem;
    color: white;
}

.service-description {
    color: #94a3b8;
    line-height: 1.7;
    transform: translateZ(10px);
}

.service-link {
    display: inline-flex;
    align-items: center;
    color: white;
    margin-top: 2rem;
    text-decoration: none;
    font-weight: 600;
    transform: translateZ(15px);
    transition: color 0.3s ease;
}

.service-link svg {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

.service-card:hover .service-link svg {
    transform: translateX(5px);
}

/* Services Ends */

/* Our Works Starts*/
.works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
    padding: 0 1rem;
}

.works-grid a {
    text-decoration: none;
    color: white;
}

.work-card {
    text-align: center;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 1.5rem;
    position: relative;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
    transform-style: preserve-3d;
    transform: perspective(1000px);
    display: flex;
    flex-direction: column;
}

.work-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg,
            rgba(249, 115, 22, 0.1),
            rgba(255, 255, 255, 0.03));
    border-radius: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.owl-carousel .owl-item.active.center .work-card:hover::before {
    opacity: 0.4;
}

.work-vid {
    width: 100%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    border-radius: 1.5rem 1.5rem 0 0;
}

.work-vid video {
    border-radius: 1.5rem 1.5rem 0 0;
}

.work-content {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.work-description {
    color: #888;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Our Works Ends*/

/* Tools Starts */
.tools-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
    max-width: 900px;
    margin: auto auto;
    margin-bottom: 3rem;
    place-items: center;
}

.tool-item {
    opacity: 0;
    transform: translateY(20px);
    place-items: center;
    width: fit-content;
}

.tool-image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
}

.tool-circle {
    border-radius: 50%;
    background: #222;
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.tool-circle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
    opacity: 0;
    transition: all 0.3s ease;
}

.tool-circle:hover {
    transform: translateY(-5px);
}

.tool-circle:hover::after {
    opacity: 1;
    transform: scale(1.1);
}

.tool-name {
    font-size: 1rem;
    color: #fff;
    margin-top: 0.5rem;
}

.more-tools {
    color: #888;
    font-size: 1.1rem;
    opacity: 0;
    text-align: center;
}

.more-count {
    color: #ff5714;
    font-weight: bold;
}

/* Tools Ends */

/* Testimonials Starts */
.testimonial {
    text-align: center;
    padding: 1rem 0;
    z-index: 1;
}

.owl-carousel .owl-item {
    cursor: pointer;
}

.owl-carousel .owl-item .card {
    padding: 15px;
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

.owl-carousel .owl-stage-outer {
    overflow-y: auto !important;
    padding-top: 20px;
    padding-bottom: 30px;
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.owl-carousel .owl-item.active.center:hover img {
    transform: scale(1.05);
}

.owl-carousel .owl-item .card .name {
    text-align: center;
    width: 100%;
    font-size: 14px;
    backdrop-filter: blur(20px);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.3rem 0.4rem;
    border-radius: 25px;
    overflow: hidden;
}

.owl-carousel .owl-item .card {
    opacity: 0.7;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.owl-carousel .owl-item .work-card {
    opacity: 0.7;
    transform: scale3d(0.9, 0.9, 0.9);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.owl-carousel .owl-item.active.center .card,
.owl-carousel .owl-item.active.center .work-card {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
    background: rgba(255, 255, 255, 0.2) !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ffffff !important;
    transition: all 1s ease-in-out;
}

/* Testimonials Ends */





/* Contact Starts */
.bg-video-container {
    perspective: 1000px;
    z-index: 2;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%) saturate(200%);
}

.contact-section .container {
    gap: 5rem;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.form-control::placeholder {
    color: #6c757d;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    box-shadow: none;
}

.form-floating label {
    padding: 1rem;
}

.form-floating input,
.form-floating textarea {
    padding-left: 1rem !important
}

.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after {
    background-color: transparent;
}

.contact-section .btn-secondary {
    padding: 0.6rem !important;
}

/* Contact Ends */

/* Footer Starts */
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(8px) saturate(120%);
    -webkit-backdrop-filter: blur(8px) saturate(120%);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1),
        0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
}


.footer-column {
    z-index: 2;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column ul li a {
    color: #bbb;
    transition: color 0.3s;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #fff;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.social-icons img:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.footer-brand img {
    width: 200px;
    height: auto;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    position: relative;
    z-index: 2;
}

/* Footer Ends */

.contact-section,
.footer,
.footer-top {
    position: relative;
    z-index: 1;
}
